.settings-modal {
    background: none;
    position: absolute;
    width: 150px;
    height: 200px;
    right: 40px;
    left: auto;
    top: 10px;

    & .modal__content {
        width: 140px;
        height: 170px;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
    }

    &__button {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        margin: 15px 0;
        font-size: 17px;

        &__image {
            width: 26px;
            height: 26px;
            margin-right: 5px;
        }
    }
}
