.home {
    width: 100%;
    height: calc(100vh - 220px);

    &__posts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__no-posts {
        height: calc(100vh - 220px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
}
