.post-modal-comment {
    width: 100%;
    margin-bottom: 10px;
    display: flex;

    &__user {
        display: flex;
    }

    &__photo {
        cursor: pointer;
    }

    &__nickname {
        margin-right: 5px;
        font-size: 16px;
        font-weight: 500;
        color: black;
        cursor: pointer;
    }

    &__text {
        display: flex;
        margin: 3px 7px 0 15px;
        font-size: 16px;
    }
}
