.subscribers {
    overflow: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        &__info {
            display: flex;
            align-items: center;
        }

        &__subscribe {
            background: none;
            outline: none;
            padding: 0;
            border: none;
            font-size: 12px;
            color: violet;
            cursor: pointer;
            font-weight: 600;
            height: 14px;
            margin-left: 7px;
        }

        &__nickname {
            font-weight: 600;
            margin: 0 7px;
        }

        &__delete {
            display: block;
            cursor: pointer;
            height: 30px;
            padding: 5px 10px;
            border: none;
            outline: none;
            border-radius: 4px;
            font-size: 14px;
            color: black;
            text-align: center;
            background: rgb(230, 230, 230);
        }
    }
}
