@import "./app/static/styles/_typography.scss";
@import "./app/static/styles/_reset.scss";
@import "./app/static/styles/_variables.scss";

body {
    margin: 0;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    min-height: calc(100vh - 100px);
    padding-top: 120px;
}
