@import "@/index.scss";

.editing-modal {

    & .modal__content {
        width: 650px;
        height: 550px;
    }

    &__content {
        display: flex;
    }

    &__info {
        width: 250px;
        padding: 20px 10px;
    }

    &__current-photo {
        width: 190px;
        height: 270px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }

    &__mini-photos {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 360px;
        padding: 10px;

        &__item {
            position: relative;
            flex: 0 0 auto;
            max-width: 100%;
            margin-right: 10px;
            width: 70px;
            height: 80px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            &__close {
                position: absolute;
                width: 20px;
                height: 20px;
                right: 0;
                top: 0;
            }
        }
    }

    &__photos {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 100%;
        padding: 20px 10px;

        &:after {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            content: "";
            background: $line-color;
            width: 1.5px;
        }
    }

    &__add-photo {

        &__label {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-top: 15px;

            &__icon {
                width: 40px;
                height: 40px;
                margin-right: 10px;

                &__photo {
                    width: 40px;
                    height: 40px;
                }

                &__button {
                    font-size: 12px;
                }
            }
        }

        &__input {
            display: none;
        }
    }
}
